.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #0e4491;
    color: white;
    border-bottom: 1px solid #ccc;
  }
  
  .toolbar button {
    margin-right: 10px;
  }
  